
.main-header {
    height: 150px;
    margin-bottom: 25px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #337ab7;
    color: white;
}
.main-header a {
    color: white;
}

.nav-footer {
    margin-bottom: 0;
}
